.TopNavigation {
    display: flex;
    justify-content: space-between;
    height: 40px;
    background-color: var(--gray-dark);
    &__logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;
        color: white;
        font-size: 1.2em;
        width: 200px;
        padding-left: 30px;
    }
    &__logout {
        text-decoration: none;
        color: white;
        font-size: 1.1em;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--gray);
    }
    &__searchbar {
        width: 100%;
        background-color: rgba(255, 255, 255, .1);;
        color: black;
        
        &::placeholder {
            color: var(--gray);
            
        }
    }
}